<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407522503085-i8g5h1qijdgi3jrav07159d11nokamck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407522503085-i8g5h1qijdgi3jrav07159d11nokamck</string>
	<key>API_KEY</key>
	<string>AIzaSyB7WiKZomNWuG0siyGTYdcwFxVygL0pjO0</string>
	<key>GCM_SENDER_ID</key>
	<string>4075225git revert03085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seemaster.flaging</string>
	<key>PROJECT_ID</key>
	<string>flagingdatabase</string>
	<key>STORAGE_BUCKET</key>
	<string>flagingdatabase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407522503085:ios:9729a0072a82f0ea90d924</string>
</dict>
</plist>